* {
  font-family: "Poppins", sans-serif;
  color: white;
  box-sizing: border-box;
}

/* - - General - - */

body {
  background-color: #7716f6;
  padding: 10px 30px;
}

nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
}

h1,
h2 {
  font-size: 60px;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

main {
  /*border: 1px solid red;*/
  padding: 0 50px;
}

.content-wraper {
  /*border: 1px solid black;*/
}

.description {
  font-family: "Noto Sans", sans-serif;
}

.btn {
  display: inline-flex;
  width: 130px;
  height: 40px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
}

.btn:hover {
  background: rgb(119, 22, 246);
  background: linear-gradient(rgba(119, 22, 246, 1) 0%, rgb(105, 20, 218) 100%);
}

/* - - Header - - */

.topnav-right {
  display: inline-flex;
  width: 30%;
  justify-content: space-around;
}

.topnav-right a:hover {
  font-weight: 600;
}

/* - - Home - - */

#home {
  /*border: 1px solid greenyellow;*/
  height: 90vh;
  display: table-cell;
  vertical-align: middle;
}

#home h1 p:first-child {
  /* hey there! */
  color: rgba(255, 255, 255, 0.45);
  margin-bottom: -20px;
}

#home .description {
  margin-bottom: 35px;
}

/* Buttons */
#home .download-btn {
  background-color: white;
  color: #7716f6;
  margin-right: 10px;
}

#home .download-btn:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgb(238, 238, 238) 100%
  );
}

/* Logos */
.logos-wraper {
  /*border: 1px solid red;*/
  display: inline-flex;
  width: 20%;
  justify-content: space-between;
  margin-top: 30px;
}

.logo-img {
  width: 25px;
}

.logo-img:hover {
  width: 30px;
}

#behance {
  width: 35px;
  margin: auto;
}

#behance:hover {
  width: 40px;
}

/* - - About me - - */

#aboutme {
  /*border: 1px solid greenyellow;*/
  display: flex;
  height: 90vh;
  justify-content: center;
}

#aboutme .content-wraper {
  display: inline-flex;
  align-items: center;
}

.rounded-rect {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  width: 70vw;
  height: 65vh;
  padding: 3% 5%;
}

.rounded-rect .left-wraper {
  /*border: 1px solid goldenrod;*/
  width: 55%;
}
