* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #7716f6;
}

/* - - General - - */

body {
  color: white;
  margin: 0;
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    var(--main-color) 50%,
    var(--main-color) 100%
  );
}

.main-color-bg {
  background-color: var(--main-color);
}

.first-section-rounded {
  border-radius: 0 0 0 100px;
}

.body-wraper {
  padding-left: 30px;
  padding-right: 30px;
}

nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-size: 60px;
  margin: 0;
}

h1 {
  font-size: max(4.5vw, 35px);
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0;
}

main {
  /*border: 1px solid red;*/
}

.content-wraper {
  /*border: 1px solid black;*/
}

.description {
  font-family: "Noto Sans", sans-serif;
}

.btn {
  display: inline-flex;
  width: 130px;
  height: 40px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
}

.btn:hover {
  background: rgb(119, 22, 246);
  background: linear-gradient(rgba(119, 22, 246, 1) 0%, rgb(105, 20, 218) 100%);
}

#home,
#aboutme,
#tools,
#portfolio {
  height: 100vh;
}

/* - - Header - - */

header {
  padding-top: 15px;
}

.topnav-right {
  display: inline-flex;
  width: 30%;
  justify-content: space-around;
}

.topnav-right a:hover {
  font-weight: 600;
}

/* - - Home - - */

#home {
  /*border: 1px solid greenyellow;*/
  padding-left: 70px;
  display: table-cell;
  vertical-align: middle;
}

#home h1 p:first-child {
  /* hey there! */
  color: rgba(255, 255, 255, 0.45);
  margin-bottom: -20px;
}

#home .description {
  margin-bottom: 35px;
}

/* Buttons */
#home .download-btn {
  background-color: white;
  color: var(--main-color);
  margin-right: 10px;
}

#home .download-btn:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgb(238, 238, 238) 100%
  );
}

/* Logos */
.logos-wraper {
  /*border: 1px solid red;*/
  display: inline-flex;
  width: 20%;
  justify-content: space-between;
  margin-top: 30px;
}

.logo-img {
  width: 25px;
}

.logo-img:hover {
  width: 30px;
}

#behance {
  width: 35px;
  margin: auto;
}

#behance:hover {
  width: 40px;
}

/* - - About me - - */

#aboutme {
  /*border: 1px solid greenyellow;*/
  display: flex;
  justify-content: center;
}

#aboutme .content-wraper {
  display: inline-flex;
  align-items: center;
}

.rounded-rect {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  width: 70vw;
  height: 65vh;
  padding: 3% 5%;
}

.rounded-rect .left-wraper {
  /*border: 1px solid goldenrod;*/
  width: 55%;
}

/* - - - White Section - - - */

.white-bg {
  background-color: white;
  border-radius: 0 100px 100px 0;
}

.white-bg h2,
h3 {
  color: var(--main-color);
}

.white-bg p {
  color: #707070;
}

/* - - Tools - - */

.tools-img {
  width: 90px;
}

.fixed-img {
  height: 80px;
  margin-top: 10px;
}

#tools .content-wraper {
  height: 100%;
}

#tools .left-wraper {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
}

#tools .right-wraper {
  display: flex;
  float: right;
  width: 40%;
  height: 100%;
  justify-content: center;
}

.table {
  display: inline-block;
  width: 65%;
}

.table-wraper {
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.row {
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
}

.title {
  width: 75%;
}

.title-wraper {
  -ms-transform: translate(0, 150%);
  transform: translate(0, 150%);
}
